/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 6px;
    background-color: #DDD;
}

/* Hamburger Icon */
.hamburger {
    display: none; /* Initially hidden */
    font-size: 30px;
    background: none;
    border: none;
    color: teal;
    cursor: pointer;
    padding: 5px 10px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1001; /* Higher than sidebar to always stay on top */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Main layout */
main {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 8px;
     /* Adjust based on header height */
}

/* Sidebar */
aside {
    width: 300px;
    height: calc(100vh - 12px);
    display: flex;
    flex-direction: column;
    background-color: teal;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition */
}

.navbarLinks {
    width: 100%;
    padding: 15px; 
    background-color: teal;
    color: white;
    border: none;
    text-align: left; 
    cursor: pointer;
    font-size: 16px;
    border-bottom: 1px solid #FFFFFF;
}

.navbarLinks:hover {
    background-color: darkcyan; 
}

.navbarLinks.active {
    background-color: darkslategray; 
}

.accordion-button {
    background-color: teal;
    cursor: pointer;
}

.panel {
    display: none; 
    background-color: lightseagreen;
    overflow: hidden;
}

.panel .navbarLinks {
    padding-left: 30px; 
}

.mainContent {
    width: calc(1200px - 312px);
    height: calc(100vh - 12px);
    background-color: #FFFFFF;
    color: #000000;
    overflow-y: auto; 
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    body{
        padding: 0;
    }
    .hamburger {
        display: block;
    }

    header {
        z-index: 1001; /* Ensure header is on top */
    }

    main {
        width: 600px;
        margin-top: 50px;
    }

    aside {
        position: fixed;
        top: 50px; /* Adjust based on header height */
        left: -250px; /* Adjust to match the width */
        width: 250px;
        height: calc(100vh - 50px); /* Full height minus header height */
        z-index: 1000; /* Below header */
        transform: translateX(-100%);
    }

    aside.open {
        transform: translateX(100%); /* Slide in to fill the screen */
    }

    .mainContent {
        width: 100vw;
        margin-left: 0;
    }
}